html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	user-select: none;
	touch-action: none;
}
body {
	background: url(img/back.png);
	line-height: 1.2;
}
img {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	pointer-events: none;
}
#control-box {
	align-self: flex-start;
	height: 100%;
	display: flex;
	align-items: center;
	pointer-events: auto;
}
#control-box > * {
	margin-left: 12px;
}
#year-box {
	height: 100%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	pointer-events: auto;
}

.head-btn {
	display: inline-block;
	font-size: 24px;
	border: 1px solid gray;
	border-radius: 5px;
	background: white;
	color: black;
	height: 28pt;
}
div.head-btn:active {
	background: gray;
}
.head-btn span {
	height: 28pt;
	min-width: 28pt;
	line-height: 1.0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: none;
	pointer-events: auto;
}
#layer-land,#layer-tert,#layer-info {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#layer-land img,#layer-tert img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#layer-tert {
	opacity: 0.5;
}
#layer-land img,#layer-tert img {
	position: absolute;
	top: 0;
	left: 0;
}

#year {
	display: block;
	text-align: right;
	margin: 0px 5px;
	color: white;
}
#year-text {
	background: white;
	color: black;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1px 2px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
#year-input {
	display: none;
	width: 4em;
	border: none;
	font-size: 16px;
	font-weight: bold;
	background: black;
	color: white;
	text-align: right;
}
#year-sub {
	text-align: right;
	margin: 0px 5px;
	padding: 2px;
	font-size: 14px;
	color: black;
	backdrop-filter: blur(30px);
}
#year-bar-scale {
	margin: 0;
	padding: 0;
}
#year-bar-cursor {
	position: absolute;
	top: 0;
	left: 0;
}
#year-bar {
	position: absolute;
	left: 0px;
	bottom: 0px;
	line-height: 0;
	z-index: 10000;
}

#tool-dialog {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(min(800px, 80%));
	max-height: 80%;
	background-color: white;
	font-size: 20px;
	padding: 10px;
	overflow: auto;
	z-index: 29000;
	touch-action: pan-x pan-y;
}
#dialog-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 28000;
}
#tool-dialog h2 {
	margin: 0;
}
#close-tool-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 29900;
}
#settings {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
#settings li {
	margin: 2em 0;
}

#footer {
	position: absolute;
	color: #ddd;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10000;
}
#footer {
	top: 48px;
	right: 0;
	width: calc(min(9vh, 6vw));
	height: calc(var(--viewport-height) - 48px - 32px - 1px);
	font-size: calc(min(3vh, 2vw));
	flex-direction: column;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (orientation: portrait) {
	#footer {
		top: auto;
		right: auto;
		bottom: 0;
		width: 100%;
		height: calc(min(12vw, 6vh));
		font-size: 4vw;
		flex-direction: row;
	}
	#year-bar {
		bottom: calc(min(12vw, 6vh) + 1px);
	}
}
#footer div {
	width: 100%;
	height: 100%;
	border: solid 1px #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#footer div.dummy-btn {
	border: solid 1px transparent;
	cursor: default;
}
#footer div[data-state="disabled"] * {
	opacity: 0.5;
}
#footer div[data-state="hidden"] {
	display: none;
}
#footer div:active:not([data-state="disabled"]):not(.dummy-btn) {
	animation: flash 0.3s;
}
@keyframes flash {0% {opacity: 0.3;} 100% {opacity: initial;}}

[data-hidden="yes"], #control-box [data-hidden="yes"] {
	opacity: 0;
	pointer-events: none;
}
[data-hidden] {
	transition: opacity 0.5s;
}

#auto-sec {
	font-size: 16px;
	font-weight: bold;
	margin-right: 8px;
	padding: 3px;
	color: white;
	background-color: black;
}
#auto-sec:empty {
	display: none;
}
#auto-sec, #pause-btn * {
	animation: blink 0.5s infinite alternate;
}
@keyframes blink {0% {opacity: 1;} 100% {opacity: 0.3;}}
#toast {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
}
#toast p {
	font-size: min(80vh, 40vw);
	color: black;
	z-index: 9;
	position: relative;
}

.region {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 100px;
	pointer-events: none;
}
.region-title {
	padding-bottom: 3px;
	font-size: 12px;
	font-weight: bold;
    cursor: default;
}
.person-list {
	background: rgba(255,255,255,0.75);
	color: black;
	font-size: 12px;
}
.person {
	height: 64px;
}
.person div {
	padding: 3px 4px 0 52px;
    cursor: default;
}
.person img {
	float: left;
}
